.button {
  display: inline-block;
  font-weight: bold;
  margin: 4.7rem 4.7rem 1.7rem 4.7rem;
  height: 5.2rem;
  width: 20.3rem;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.8rem;
  background-color: var(--azul-escuro);
  color: white;
  cursor: pointer;
  text-decoration-color: white;
  line-height: 2.5rem;
  opacity: 0.5;
}
.button:hover {
  opacity: 1;
}
